.label{
    position: absolute;
    margin-top: 4rem;
}

.Home{
    background-color: #FFCC33;
    position: absolute;
    left: -1px;
    width: 100%;
    height: 120px;
    top: -60px;
    border-radius: 59px;
}

.TitleApp{
    position: absolute;
    width: 50%;
    height: 35px;
    top: 50px;
    left: 2.5%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.ButtonUser{
    position: absolute;
    display: flex;
    
    height: 41px;
    left: 66.96%;
    right: 3.1%;
    top: 5px;
    
    background-color: #FFCC33;
    
    border-width: 0px;
}



.ButtonBeginSesion{
    position: absolute;
    display: flex;
    background-color: #FFA600;
    border: 0px;
    border-radius: 5%;
    height: 41px;
    left: 66.96%;
    right: 3.1%;
    top: 70px;
    width: 200px;
    height: 41px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 45px;

    color: #FFFFFF;
}

.GoogleIconButton{
    position: relative;
    top: 20%;
    left: 10%;
    width:30px;
    height:30px;
}

.TitleButton{
    position: relative;
    top: -10%;
    left: 15%;
}

.ButtonRegister{
    position: absolute;
    display: flex;
    background-color: #FFA600;
    border: 0px;
    border-radius: 5%;
    height: 41px;
    left: 66.96%;
    right: 3.1%;
    top: 5px;
    width: 200px;
    height: 41px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 45px;

    color: #FFFFFF;
}

.ButtonRegister:hover{
    background-color: #E57602;
    width: 429.22px;
    height: 86.2px;
    left: 20px;
}