.label{
    position: absolute;
    margin-top: 4rem;
}

.Home{
    background-color: #FFCC33;
    position: absolute;
    left: -1px;
    width: 100%;
    height: 120px;
    top: -60px;
    border-radius: 59px;
}



.TitleApp{

    position: absolute;
    display: flex;
    background-color: transparent;
    border: 0px;
    border-radius: 0.5rem;
    height: 41px;
    left: 13.96%;
    right: 3.1%;
    top: 70px;
    width: 200px;
    height: 41px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 45px;

    color: black;
}
.TitleApp:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0); /* Sombreado al pasar el mouse */
}


.imagenQA .image {
    position: absolute;
    width: 54px;
    height: 42px;
    right: 45%;
    top: 58%;
}
.imagenFV .image {
    position: absolute;
    width: 40px;
    height: 42px;
    right: 38%;
    top: 58%;
}


.ButtonUser{
    position: absolute;
    display: flex;
    
    height: 41px;
    left: 66.96%;
    right: 3.1%;
    top: 5px;
    
    background-color: #FFCC33;
    
    border-width: 0px;
}



.ButtonPerfil{
    position: absolute;
    display: grid;
    top: 56%;
    border: 0px;
    border-radius: 5%;
    height: 41px;
    left: 80%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 45px;

    color: black;
}
.ButtonPerfil   :hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0); /* Sombreado al pasar el mouse */
}

.GoogleIconButton{
    position: relative;
    top: 20%;
    left: 5%;
    width:15%;
    height:70%;
}

.TitleButton{
    position: relative;
    top: -70%;
    left: 10%;
}

.ButtonRegister{
    position: absolute;
    display: grid   ;
    background-color: #FFA600;
    border: 0px;
    border-radius: 0.5rem;
    top: 57%;
    right: 5%;
    width: 17%;
    height: 41px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 150%;
    line-height: 45px;
    
    color: #FFFFFF;
}

.ButtonBeginSesion{
    position: absolute;
    display: flex;
    background-color: #FFA600;
    border: 0px;
    border-radius: 0.5rem;
    height: 41px;
    right: 23.1%;
    top: 57%;
    width: 20%;
    height: 41px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 150%;
    line-height: 45px;

    color: #FFFFFF;
}

.divIconoAuthenticated{
    position: absolute;
    overflow-y: hidden; /* ocultamos cualquier texto que se desborde */
    display: flex;
    text-align: justify;
    width: 25%;
    height: 40%;
    top: 57%;
    right: 7%;
}


.displayNameUser {
    position: absolute;
    top: -50%;
    left: 25%;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 45px;
    width: 70%; /* agregamos un ancho para que el texto sepa hasta dónde llegar */
    overflow: hidden; /* ocultamos cualquier texto que se desborde */
    text-overflow: ellipsis; 
}

.ImageLogOut{
    position: absolute;
    top: 60%;
    right: 4%;
    width: 2%;
    height: 30%;

}