* {
    font-family: Maven Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    font-weight: 600;
}

button {
    cursor: pointer; /* Cambia el cursor a una mano */
}
button:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombreado al pasar el mouse */
}

.INGREDIENTES-p {
    position: relative;
    /*background-color: #8bf890;*/
    height: calc(97% - 85px);
    top: 75px;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.componente_busqueda-p {
    position: absolute;
    left: 0%;
    top:  0%;
    width: 100%;
    height: 50px;
    /*background-color: #ffacac;*/
    display: flex;
    justify-content: left;
    align-items: center;
}

.barra_busqueda-p {
    /*display: inline-block;*/
    position: relative;
    left: 1px;
    width: calc(100% - 7px);
    height: 90%;
    border-radius: 32px;
    border: #d6e8ea;
    background-color: #d6e8ea;
    color: #00000080;
    font-size: 23.3962px;
    justify-content: center;
    text-indent: 80px;
}

.lupa_icon-p {
    position: absolute;
    left: 25px;
    width: 35px;
    height: 35px;
    overflow: visible;
}

.componente_Ingredientes-p {
    position: absolute;
    background: #F0EDE8;
    left: 0%;
    top:  calc(27% + 55px);
    width: 100%;
    height: calc(100% - calc(27% + 55px));
    overflow-y: scroll;
    /*background-color: #dddddd;*/
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.componente_Ingredientes-p::-webkit-scrollbar {
    width: 0.01em;
    opacity: 0;
}

.grid-container_ingredientes-p {
    position: relative;
    display: grid;
    top: 10px;
    width: 95%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
  
.grid-item_ingrediente-p {
    position: relative;
    background: #F0D678;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 25px;
    border: #F0D678;
    height: 200px;
    color: #000000;
    font-size: 20px;
    overflow-wrap: anywhere;
    hyphens: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}
.grid-item_ingrediente-p:hover {
    background: #c7b163;
}

.imagen_Ingrediente-p {
    position: absolute;
    max-width: 100%;
    max-height: 60%;
    top: 10%;
}

.componente_elegidos-p {
    position: absolute;
    /*background-color: #ff9edf;*/
    left: 0%;
    top:  50px;
    width: 100%;
    height: 27%;
}

.text_ingredientes_elegidos-p{
    position: absolute;
    left: 3%;
    margin-top: 15px;
}

.componente_elegidos_grid-p {
    position: absolute;
    top:  50px;
    height: calc(100% - 60px);
    width: calc(100% - 4px);
    overflow-y: scroll;
    /*background-color: #dddddd;*/
    display: flex;
    justify-content: center;    
    border: 2px solid #dbdbdb86;
    border-radius: 20px;
}

.mensaje_Ingredientes-p {
    color: #0000004f;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.componente_elegidos_grid-p::-webkit-scrollbar {
    width: 0.01em;
}

.grid-container_elegidos-p {
    position: relative;
    display: grid;
    width: 95%;
    margin-bottom: 8px;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
  
.grid-item_elegido-p {
    position: relative;
    background: #d6e8ea;
    padding: 10px;
    /*text-align: left;
    /*vertical-align: left;*/
    border-radius: 11.6981px;
    border: #d6e8ea;
    height: 60px;
    color: #000000;
    font-size: 18px;
    overflow-wrap: anywhere;
    hyphens: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.imagen-hover-p {
    position: absolute;
    display: none;
    height: 70px;
    width: 70px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}
 
.grid-item_elegido-p:hover {
    color: #00000069;
    background-color: #ff6262;
}

.grid-item_elegido-p:hover .imagen-hover {
    display: block;
    opacity: 0.8;
}

