.MainRecetaMax{
  display: flex;
  max-width: 100%;
  height: 100%;
  box-sizing: border-box;

  background-color: #D9D9D9;
  border-radius: 2rem;
  padding: 1rem;

  grid-template-columns: 1fr 2fr;
}

.PanelIzquierdo{
  max-width: 30%;
  min-width: 30%;
}

.TituloReceta{
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow: 0 0.05rem, 0.05rem 0, 0 -0.05rem, -0.05rem 0, 0.05rem 0.05rem, 0.05rem -0.05rem, -0.05rem 0.05rem, -0.05rem -0.05rem;
  margin-bottom: 1rem;
}

.PanelDerecho{
  flex-grow: 1;
  margin-left: 1rem;
  padding: 1rem;
  font-size: large;
  font-weight: 600;
}

.TopOptions{
  font-weight: bold;
  text-align: right;
  margin-top: 1rem;
  padding: 0 2rem 0 0;
  min-height: 2.25rem;
}

.ImagenReceta{
  border-radius: 1rem;
  min-width: 100%;
  padding-top: 100%;
}

.PasosLabel{
  text-shadow: 0 0.001rem, 0.001rem 0, 0 -0.001rem, -0.001rem 0, 0.001rem 0.001rem, 0.01rem -0.001rem, -0.001rem 0.001rem, -0.001rem -0.001rem;
}

.TextoReceta{
  height: 90%;
  overflow-y: auto;
}

.BackButton{
  width: 2rem;
  height: 2rem;
}

.BackButton:hover{
  width: 1.8rem;
  height: 1.8rem;
}
