.MainRecetaAmpliada{
  font-family: 'Maven Pro', consolas;
  font-size: x-large;
  display: flex;
  box-sizing: border-box;
  width: fit-content;
  height: 100%;
  max-height: 97vh;
  background-color: #CFE3E6;
  border-radius: 1.2rem;
  padding: 1rem;
}

.IngredientContainer{
  grid-column: 1;
  font-weight: bolder;

  width: min-content;
  max-height: 100%;
}
.RecipeContainer{
  flex-grow: 1;
  box-sizing: content-box;
}
.IngredientScrollable{
  padding: 0.75rem;

  box-sizing: border-box;
  max-height: 96%;
  overflow-y: scroll;
}

::-webkit-scrollbar{
  width: 0.5rem;
}
::-webkit-scrollbar-thumb{
  background-color: #00000010;
  border-radius: 1rem;
}

.IngredientImage{
  width: 100%;
  overflow: hidden;
  background-color: #f00;
}
.IngredientImageCrop{
  position: relative;
  width: 200%;
  left: -50%;
}
