.Review{
    background-color: rgba(137, 43, 226, 0);
    display: flex;
    height: 100%;
}

.star-rating-container{
    background-color: rgba(127, 255, 212, 0);
    height: 100%;
}

.star-image {
    height: 100%;
}
  
.promedio-container{
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
.boton-container{
    margin-left: 20px;
    background-color: rgba(165, 42, 42, 0);
    width: 150px;
    display: flex;
}
.boton-container-compartir{
    margin-left: 20px;
    width: 80px;
    display: flex;
}


.boton-calificar{
    background-color: #FFA600;
    width: 100%;
    border-radius: 30px;
    color: white;
    font-size: 30px;
}

.ventana-emergente-review {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo desenfocado */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ventana-emergente-compartir{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px); /* Fondo desenfocado */
    /*filter: blur(20px);*/
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.contenido-ventana-review {
    position: absolute;
    height: 40%;
    width: 40%;
    background-color: #fff;
    padding: 15px;
    border-radius: 20px;
    display: block;
}
.container-boton-cerrar{
    background-color: #00ff4c00;
}
  
.boton-cerrar-review{
    background-color: rgba(117, 117, 117, 0);
    left: 85%;
}
.boton-cerrar-review:hover{
    box-shadow: 0 0 0px rgba(0, 0, 0, 0); /* Sombreado al pasar el mouse */
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.boton-compartir{/* Boton compartir con caracteristicas para tomar la imagen de web*/
    margin-left: 0%;
    margin-right: 0%;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    line-height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 0 5px;
    text-align: center;
}

.boton-compartir:nth-child(1){
    background-color: #8f8f8f5e;
}

.container-boton-copiar{
    display: flex;
    align-items: center;
}

.container-socialnet{
    background-color: #ffa60000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boton-social{/* Boton redes sociales con caracteristicas para tomar la imagen de web*/
    margin-left: 30%;
    margin-right: 30%;
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    line-height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 0 5px;
    text-align: center;
}
.boton-social:nth-child(1){ /*seleccionar el background del color del icono*/
    background-color: #25D366;
}
.boton-social:nth-child(2){
    background-color: #1877F2;
}
.boton-social:nth-child(3){
    background-color: #1DA1F2;
}
.link-container{ /*contenedor del link */
    align-items: center;
    margin-left: 10% ;
    margin-right: 10%;
    right: 0;
    cursor: text;
    background: #b6b5b5be;
    color: #000000;
    border: none;
    text-transform: capitalize;
    font-size: 20px;
    border-radius: 20px;
}
.link{/* Link propiamente dicho*/
    margin-left: 5px;
    line-height: 40px;
    color: #000;
}
.copy-btn{
    margin-top: 0   px;
    margin-left: 35% ;
    right: 0;
    cursor: pointer;
    background: #FFA600;
    color: #fff;
    border: none;
    height: 10%;
    width: 30%;
    text-transform: capitalize;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
}

  
.container-stars{
    background-color: #ff000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(70% - 25px);
}
.container-boton-calificar{
    background-color: #00ff3700;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(30% - 25px);
}

.boton-calificar-ventana{
    background-color: #FFA600;
    width: 30%;
    height: 60%;
    border-radius: 30px;
    color: white;
    font-size: 25px;
  }

.star-rating-container-ventana{
    position: relative;
    background-color: rgba(127, 219, 255, 0);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.star-image-selector {
    height: 100%;
}

.star-image-selector:hover {
    cursor: pointer;
    height: 90%;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}