/** {
    font-family: Maven Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    font-weight: 600;
}*/



.componente_Recetas {
    position: absolute;
    background:  #d6e8ea;
    left: 0%;
    top:  0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding-left: 20px;
}

.componente_Recetas::-webkit-scrollbar {
    width: 0.01em;
    opacity: 0;
}
.zonaSup{
    display: flex;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-top: 80px;
}
.zonaSup h1{
    margin-bottom: 0px;
}

.RECETAS {
    position: absolute;
    background-color: #d6e8ea;
    top: 85px;
    left: 36%;
    height: calc(97% - 85px);
    width: calc(63% - 1.5%);
    border-radius: 20px;
}

.componente_Recetas::-webkit-scrollbar {
    width: 0.01em;
    opacity: 0;
}


.grid-container_Recetas {
    position: relative;
    display: grid;
    top: 10px;
    width: 95%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.grid-item_Recetas {
    position: relative;
    background:#F0EDE8;
    padding-top: 0px;
    /* text-align: left; */
    /* vertical-align: middle; */
    border-radius: 25px;
    border: #F0EDE8;
    color: #000000;
    /* hyphens: auto; */
    display:grid;
    justify-content: center;
    /* align-items: flex-end; */
    height: 200px;
    overflow: visible; /* ajusta la altura automáticamente y oculta el exceso */

}

.titleReceta{
    position: relative;
    font-size: 20px;
    max-width: 100%;
    width: 100%;
    height: auto;
    top: 0px;
}

.grid-container-content-info{
    position: relative;
    top: -15%;
}

.imagen_Recetas {
    position: relative;
    display: grid;
    max-width: 35%;
    max-height: 100%;
    top: -50%;
    left: 0%;
    object-fit: contain;
}


.descriptionVistaPrincipal{
    position: absolute;
    padding: 1%;
    height: 110%;
    max-width: 50%;
    width: max-content;
    left: 50%;
    right: 1%;
    top: 1%;
    text-align: left;
    overflow:hidden;
}

.descriptionVistaPrincipal p {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
  }